<h1>ユーザー情報編集</h1>

<div class="col-xs-12">
<%= form_for(@user) do |f| %>

	<h4>ヘッダー画像</h4>
	<%= f.attachment_field :main_image %>
	<h4>名前</h4>
	<%= f.text_field :name %>
	<h4>アイコン</h4>
	<%= f.attachment_field :image %>
	<h4>得意ジャンル</h4>
	<%= f.text_field :format %>
	<h4>今やっていること</h4>
	<%= f.text_area :introduction , :class => "col-xs-12" %><br>
	<h4>経歴</h4>
	<%= f.text_area :career , :class => "col-xs-12" %><br>
	<h4>これからやろうとしていること</h4>
	<%= f.text_area :wants , :class => "col-xs-12" %><br>
	<h4>強み・特徴・スキル</h4>
	<%= f.text_area :skill , :class => "col-xs-12" %><br>
	<h4>資格</h4>
	<%= f.text_area :license , :class => "col-xs-12" %><br>
	<h4>趣味</h4>
	<%= f.text_area :hobby , :class => "col-xs-12" %><br>

	<%= f.submit 'ユーザー情報を更新する', class: 'btn btn-primary' %>

<% end %>

</div>
