
	<div class="head-image">
		<%= attachment_image_tag @user, :main_image, :width => "100%", :height => "200px", fallback: "no_image.jpg" %>


	<div class="user">
<!-- ------- アイコンと名前--------------------- -->
		<div class="user-profile">
			<h2><%= attachment_image_tag @user, :image, :fill, 100, 100, :class => 'img-circle', fallback: "no_image.jpg" %>
			<%= @user.name %>

			<% if @user.id == current_user.id %>
				<%= link_to "編集", edit_user_path(@user) %>
			<% end %></h2>
		</div><br>
	</div>

	<div class="users">
<!-- --------- 簡単な自己紹介 --------------------- -->
		<div class="user-introduction">
			<h4 class="user-introduction-title">今やっていること</h4>
			<p><%= @user.introduction %></p>
		</div>
<!-- ---------経歴 --------------------- -->
		<div class="user-carrer">
			<h4 class="user-carrer-title">経歴</h4>
			<p><%= @user.career  %></p>
		</div>
<!-- --------- これからやろうとしていること -------- -->
		<div class="user-wants">
			<h4 class="user-wants-title">これからやろうとしていること</h4>
			<p><%= @user.wants  %></p>
		</div>
<!-- ---------- 強み・特徴・スキル ---------- -->
		<div class="user-skill">
			<h4 class="user-skill-title">強み・特徴・スキル</h4>
			<p><%= @user.skill %></p>
		</div>
<!-- ---------- 資格 ------------------------ -->
		<div class="user-capasity">
			<h4 class="user-capasity-title">資格</h4>
			<p><%= @user.license  %></p>
		</div>
<!-- ---------- 趣味 ------------------------ -->
		<div class="user-hobby">
			<h4 class="user-hobby-title">趣味</h4>
			<p><%= @user.hobby %></p>
		</div>
<!-- --------------------------------------- -->
	</div>






