<div class="user-main">
	<div class="head-image">
		<%= attachment_image_tag @user, :main_image, :width => "100%", :height => "200px", fallback: "no_image.jpg" %>
	</div>

	<div class="user">
<!-- ------- アイコンと名前--------------------- -->
		<div class="user-profile">
			<%= attachment_image_tag @user, :image, :fill, 200, 200, :class => 'img-circles', fallback: "no_image.jpg" %>
		   <div class="right-contents">
			<div class="user-name"><%= @user.name %></div>
			<div class="user-zyanru">得意ジャンル：<%= @user.format %></div>
		   </div>
		</div>
	</div>

	<% if @user.id == current_user.id %>
				<%= link_to "編集", edit_user_path(@user), class: "col-xs-offset-6 col-xs-6 btn btn-default glyphicon glyphicon-wrench" %>
			<% end %>

<br>
<br>
<br>
<br>
<br>
<br>


	<div class="users">
<!-- --------- 簡単な自己紹介 --------------------- -->
		<div class="user-introduction">
			<h4 class="user-introduction-title">今やっていること</h4>
			<p><%= @user.introduction %></p>
		</div>
<!-- ---------経歴 --------------------- -->
		<div class="user-carrer">
			<h4 class="user-carrer-title">経歴</h4>
			<p><%= @user.career  %></p>
		</div>
<!-- --------- これからやろうとしていること -------- -->
		<div class="user-wants">
			<h4 class="user-wants-title">これからやろうとしていること</h4>
			<p><%= @user.wants  %></p>
		</div>
<!-- ---------- 強み・特徴・スキル ---------- -->
		<div class="user-skill">
			<h4 class="user-skill-title">強み・特徴・スキル</h4>
			<p><%= @user.skill %></p>
		</div>
<!-- ---------- おすすめの本 ------------------------ -->
		<div class="user-capasity">
			<h4 class="user-capasity-title">おすすめの本</h4>
			<p><%= @user.license  %></p>
		</div>
<!-- ---------- 趣味 ------------------------ -->
		<div class="user-hobby">
			<h4 class="user-hobby-title">趣味</h4>
			<p><%= @user.hobby %></p>
		</div>
<!-- --------------------------------------- -->
	</div>


</div>



