<div class="home">
	<div class="main-visual">
		<%= image_tag('main.jpg', :width => '100%', :height => '300px') %>
	</div>

	<br><br><br><br><br>

	<div class="top-message">
		<h1>- STORY -</h1>
		<br>
		<h3>人数が増えてきて、</h3>
		<br>
		<p><h3>お互い周りのメンバーが何を考えているか、明確にはわからない状況です。</h3></p>
		<br>
		<p><h3>これはより良いコミュニティにしていく上で良いこととはいえません。</h3></p>
		<br>
		<p><h3>そこで周りのメンバーが何を考えているのかオープンにし、</h3></p>
		<br>
		<p><h3>周りのメンバーとより仲を深めてもらいたいと思い、</h3></p>
		<br>
		<p><h3>このOpenQuestionというサービスを作りました。</h3></p>
	</div>

	<section class="blog">
		<div class="top-box">
			<div class="box1">
				<%= link_to new_book_path do %>
					<%= image_tag('quiestion.png', :width => '250', :height => '150', :class => "image-img" ) %><br>
					<p><button type="button" class="btn btn-info">質問する</button></p>
				<% end %>
			</div>
			<div class="box1">
				<%= link_to books_path do %>
					<%= image_tag('communicate.png', :width => '250', :height => '150', :class => "image-img" ) %>
					<p><button type="button" class="btn btn-info">過去の質問</button></p>
				<% end %>
			</div>
			<div class="box1">
				<%= link_to users_path do %>
					<%= image_tag('person.png', :width => '250', :height => '150', :class => "image-img" ) %>
					<p><button type="button" class="btn btn-info">GS一覧</button></p>
				<% end %>
			</div>
		</div>
	</section>
</div>


