
	<%= form_for(@book_new) do |f| %>
	  <% if @book_new.errors.any? %>
	      <div id="error_explanation">
	        <h2><%= @book_new.errors.count %> error prohibited this user from being saved: </h2>
	        <ul>
	        <% @book_new.errors.full_messages.each do |message| %>
	          <li><%= message %></li>
	       <% end %>
	        </ul>
	      </div>
	  <% end %>

<h2 class="title">質問をする</h2>

<main class="main clearfix">

		<div class="field">
			<%= f.label :質問内容 %><br>
			<%= f.text_area :body, rows:'5', class: "form-control",placeholder: "ここに質問を記入してください" %>
		</div><br>


		<div class="field">
			<%= f.label :誰に答えて欲しいか %><br>
			<%= f.select :person_name, [["古谷圭介", "古谷圭介"], ["和佐田遼", "和佐田遼"], ["新井源己", "新井源己"], ["石井直斗", "石井直斗"],["須澤亮太", "須澤亮太"],["小林直人", "小林直人"],["粂健", "粂健"],["高木祥嗣", "高木祥嗣"],["関谷詩織", "関谷詩織"],["深谷幹", "深谷幹"],["三枝博紀", "三枝博紀"],["花本静来", "花本静来"],["村田尚也", "村田尚也"] ],  :prompt => "選択してください" %>
		</div><br>

		<div class="field">
			<%= f.label :ジャンル %><br>
			<%= f.select :tag_list, [["就活","就活"],["留学","留学"],["悩み","悩み"],["大学生活","大学生活"],["将来","将来"],["趣味","趣味"],["インターン","インターン"],["仕事","仕事"],["その他","その他"]], :prompt => "選択してください" %>
		</div><br>

		<%= f.submit "質問を送る", class: "btn btn-primary btn-base-1 mt-20 pull-right" %>
	<% end %>
</main>


