
	<%= form_for(@book_new) do |f| %>
	  <% if @book_new.errors.any? %>
	      <div id="error_explanation">
	        <h2><%= @book_new.errors.count %> error prohibited this user from being saved: </h2>
	        <ul>
	        <% @book_new.errors.full_messages.each do |message| %>
	          <li><%= message %></li>
	       <% end %>
	        </ul>
	      </div>
	  <% end %>

<h2 class="title">質問をする</h2>

<main class="main clearfix">

		<div class="field">
			<%= f.label :質問内容 %><br>
			<textarea class="book_body" name="book[body]" id="book_body", class: "book_body", placeholder="ここに質問を記入してください"></textarea>
		</div><br>

		<div class="field">
			<%= f.label :誰に答えて欲しいか %><br>
			<%= f.select :person_name, [["花本静来", "花本静来"], ["和佐田遼", "和佐田遼"],  ["石井直斗", "石井直斗"], ["古谷圭介", "古谷圭介"]],  :prompt => "選択してください" %>
		</div><br>

		<div class="field">
			<%= f.label :ジャンル（下から選んで記入してください！） %><br>
			<%= f.select :tag_list, [["就活","就活"],["留学","留学"],["悩み","悩み"],["大学生活","大学生活"],["将来","将来"],["趣味","趣味"],["インターン","インターン"],["仕事","仕事"],["その他","その他"]], :prompt => "選択してください" %>
		</div><br>


		<div class="action">
			<input type="submit" name="commit" value="質問を送る" data-disable-with="質問する" style="color: black;">
		</div>
	<% end %>
</main>
