<h2>質問内容</h2>
<main class="main_contents">
	<div class="box2">
		<div class="box-text">
		    <pre style="background: lightgreen; border-style:none; "><%= @book.body %></pre>
		</div>
		<div class="mazp">
        	ジャンル: <%= raw(@book.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')) %>
        </div>
		<div class="comment-meta">
			<div class="comment-date"><%= @book.created_at.strftime('%Y/%m/%d') %>
			</div>
		</div>
		<% if current_user.admin? %>
			<button type="button" class="btn btn-danger"><%= link_to 'Destroy', book_path(@book), method: :delete, "data-confirm" => "本当に削除しますか？"  %></button>
        <% end %>
	</div>



<h2>↓回答はこちら↓</h2>

<!-- コメントを表示する ----------------------------------------------------------------------------- -->
<% @book.book_comments.each do |book_comment| %>

	<div class="comment">
		<div class="comment-entry">
		 <pre style="background: white; border-style:none; "><%= book_comment.comment %></pre>
		</div>
		<div class="comment-info">
			<%= attachment_image_tag book_comment.user, :image, :fill, 50, 50,:class => 'img-circlee', fallback: "no_image.jpg" %>
			<div class="comment-user">
				<%= book_comment.user.name %><br>
			</div>
			<div class="date">
				<%= book_comment.created_at.strftime('%Y/%m/%d') %>
			</div>
		</div>
	</div>
<% end %>
<!-- コメントを表示する ------------------------------------------------------------------------------ -->


<!-- コメントを投稿する -->
<% if current_user.admin? %>

<%= form_for [@book, @book_comment] do |f| %>
<%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
<%= f.submit "送信する", class: "btn btn-primary btn-base-1 mt-20 pull-right" %>
<% end %>

<% end %>

</main>
