<!DOCTYPE html>
<html>
  <head>
    <title>Peing</title>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class="container">
    <nav class="navbar navbar-fixed-top">

         <%= link_to root_path do %>
          <%= image_tag('wrl.jpg', :width => '50', :height => '50') %>
            <span>Open Quiestion</span>
         <% end %>

            <ul>
              <div id="nav-drawer">
              <input id="nav-input" type="checkbox" class="nav-unshown">
              <label id="nav-open" for="nav-input"><span></span></label>
              <label class="nav-unshown" id="nav-close" for="nav-input"></label>
              <div id="nav-content">
              <% if user_signed_in? %>
                <li>
                  <%= link_to '質問する' ,new_book_path %>
                </li>
                <li>
                  <%= link_to 'みんなの質問', books_path %>
                </li>
                <li>
                  <%= link_to 'GS一覧' ,users_path %>
                </li>
                <li>
                  <% if current_user.admin? %>
                    <%= link_to 'マイページ' , user_path(current_user) %>
                  <% else %>
                   <%= link_to 'ガイドライン', home_about_path %>
                  <% end %>
                </li>
                <li>
                  <%= link_to 'ログアウト' ,destroy_user_session_path, method: :delete %>
                </li>
              <% else %>
                <li>
                  <%= link_to 'ガイドライン', home_about_path %>
                </li>
                <li>
                  <%= link_to 'ログインする', new_user_session_path %>
                </li>
                <li>
                  <%= link_to '新規登録する', new_user_registration_path %>
                </li>
              <% end %>
              </div>
             </div>
            </ul>
    </nav>

    <main>
          <% if flash[:notice] %>
           <div class="flash">
            <% flash[:notice] %>
          </div>
          <% end %>
        <%= yield %>
    </main>

    <footer>
        <p class="copyright">Copyright Winring Leaders.inc </p>
    </footer>
  </div>
  </body>
</html>
